<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.newways.billie">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Admin.Model.FundActivity"></activity>
        <activity android:name=".Admin.Model.FleetvehicleActivity" />
        <activity android:name=".Admin.Model.ManagefleetActivity" />
        <activity android:name=".Admin.Model.Addvehiclestep2Activity" />
        <activity android:name=".Admin.Model.AddvehicleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Model.NotificationActivity" />
        <activity android:name=".Model.PaymentActivity" />
        <activity android:name=".Model.AccountActivity" />
        <activity android:name=".Model.Scanner" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
    </application>

</manifest>